main {
	margin: 20px;
	padding: 5px;
	display: block;
	color: black;
	font-family: 'Cursive', sans-serif;
}

body {
	background-image: linear-gradient(to top right, white, white);
	min-height: 100vh;
	margin: 0;
	font-family: 'Cursive', sans-serif;
	font-size: 25px;
  }

.section-con {
	display: flex;
	justify-content: center;
}

.table-con{
	margin-top: 16px; 
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
	border: none;
	border-left: 3px solid #CC99CC;
	border-right: 3px solid #CC99CC;
	border-top: 3px solid #CC99CC;
}

.table-con-result{
	margin-top: 16px; 
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
	border: none;
	border-left: 3px solid #CC99CC;
	border-right: 3px solid #CC99CC;
	border-bottom: 3px solid #CC99CC;
}

.table-con > thead, .table-con-result > thead {
	text-align: center;
	padding: 16px;
}

.code-input {
	width: 80px;
	padding: 5px;
	border: 1px solid #CC99CC;
	margin: 5px;
}

.result-input {
	width: 120px;
	padding: 5px;
	border: 1px solid #CC99CC;
	margin: 5px;
}

.select {
	width: 80px;
	padding: 5px;
	margin: 5px;
	border: 1px solid #CC99CC;
}

button {
	background-color: #660066;
  	border: none;
  	color: white;
  	padding: 10px 30px;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 16px;
  	margin-left: 10px;
	margin-top: 5px;
}

.footer {
	color: black;
	text-align: center;
	font-family: 'Cursive', sans-serif;
	font-size: 15px;
}